<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="topnav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tokens/available">Tokens</a></li>
            <li><a href="/tokens/prices">Token Prices</a></li>
            <li><a href="/tokens/convert">Convert Tokens</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <h1><%= title %></h1>
        <p>Here we have the <%= title %> which we can utilise:</p>
        <%  Object.keys(tokens).forEach(function (key) { %>
          <li><%= key %></li>
        <% }) %>
      </div>
    </main>

    <footer id="footer">
      <div class="container">
        <p>&copy; Copyright 2018 - <a href="http://twitter.com/rbin">@rbin</a></p>
      </div>
    </footer>

  </body>
</html>
