<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="topnav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tokens/available">Tokens</a></li>
            <li><a href="/tokens/prices">Token Prices</a></li>
            <li><a href="/tokens/convert">Convert Tokens</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <h1><%= title %></h1>
        <p>Here we have the <%= title %> we can utilise.</p>
        <p> <%= tokens %> </p>
      </div>
    </main>

    <footer id="footer">
      <div class="container">
        <p>&copy; Copyright 2018 - Tokey</p>
      </div>
    </footer>

  </body>
</html>
